<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>topup</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="format-detection" content="telephone=no, email=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <link rel="stylesheet" href="css/base1.css">
    <link rel="stylesheet" href="css/topup.css">
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/topup.js"></script>
</head>
<body>
<div ng-app="app" ng-controller="myCtrl">
    <header>
        <a href="account.html" class="back"></a>
        <h1>充值详情 <i class="down"></i><input type="checkbox" class="check" ng-model="checked" ng-click="check()"></h1>
    </header>
    <div class="main">
        <div class="head"><span>2016年</span>&nbsp; <span>本月</span></div>
        <ul>
            <li>
                <a href="#">
                    <div class="left">
                        <span class="img"></span>
                        <div class="content">
                            <p>
                                <span>天天消消乐</span>
                                <span>闪注量充值</span>
                            </p>
                            <p>
                                <span>2016/12/07</span>
                                <span>12:00</span>
                            </p>
                        </div>
                    </div>
                    <div class="right">
                        <span>+2000</span>条
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="left">
                        <span class="img2"></span>
                        <div class="content">
                            <p>
                                <span>天天消消乐</span>
                                <span>闪注量充值</span>
                            </p>
                            <p>
                                <span>2016/12/07</span>
                                <span>12:00</span>
                            </p>
                        </div>
                    </div>
                    <div class="right">
                        <span>+2000</span>条
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="left">
                        <span class="img2"></span>
                        <div class="content">
                            <p>
                                <span>天天消消乐</span>
                                <span>闪注量充值</span>
                            </p>
                            <p>
                                <span>2016/12/07</span>
                                <span>12:00</span>
                            </p>
                        </div>
                    </div>
                    <div class="right">
                        <span>+2000</span>条
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="left">
                        <span class="img"></span>
                        <div class="content">
                            <p>
                                <span>天天消消乐</span>
                                <span>闪注量充值</span>
                            </p>
                            <p>
                                <span>2016/12/07</span>
                                <span>12:00</span>
                            </p>
                        </div>
                    </div>
                    <div class="right">
                        <span>+2000</span>条
                    </div>
                </a>
            </li>
        </ul>
        <div class="head"><span>2016年</span>&nbsp; <span>本月</span></div>
        <ul>
            <li>
                <a href="#">
                    <div class="left">
                        <span class="img"></span>
                        <div class="content">
                            <p>
                                <span>天天消消乐</span>
                                <span>闪注量充值</span>
                            </p>
                            <p>
                                <span>2016/12/07</span>
                                <span>12:00</span>
                            </p>
                        </div>
                    </div>
                    <div class="right">
                        <span>+2000</span>条
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="slideDown " ng-show="checked">
        <div class="con">
            <div class="account">
                <a href="#">全部账户</a>
            </div>
            <div class="title">
                <span></span>
                <h6>应用</h6>
                <span></span>
            </div>
            <div class="list">
                <ul class="clearfix">
                    <li><a href="#">天天消消乐</a></li>
                    <li><a href="#">大话西游</a></li>
                    <li><a href="#">王者荣耀</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>