<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/base.css"/>
		<link rel="stylesheet" href="css/use.css" />
		<link rel="stylesheet" type="text/css" href="fonts/css/font-awesome.min.css"/>
		<title>code</title>
		<style type="text/css">
			@font-face{
				font-family: "aaa";
				src:url("IcoMoon-Free.ttf");
			}
			.icon{
				font-family: "aaa"
			}
			.icon-home:before{
				content:"\e96a";
				color:white;
				font-size:0.5rem;
			}
		</style>
	</head>
		<title>code</title>
	</head>
	<body ng-controller="myCtrl">
		<div class="header">
			<div class="header-a">
				<div class="back">
					<a href="home.html"><span class="icon icon-home"></span></a>
				</div>
				<p>应用信息</p>
				<div class="back">
					<span><a href="new-use.html">新增应用</a></span>
				</div>
			</div>
		</div>
		<div class="content" ng-repeat="item in a">
			<div class="appli" id="appli">
				<img ng-src="{{item.src}}" alt=""/>
				<input type="checkbox" ng-model="checked" ng-click="tab()" class="inp"/>
				<div class="nam">
					<p class="h3">{{item.happy}}<span>{{item.name}}</span></p>
					<p class="jing">{{item.changjing}}</p>
				</div>
			</div>
			<div class="message" ng-show="checked">
				<p>{{item.username}}</p>
				<p>{{item.pass}}</p>
				<p>{{item.time}}</p>
				<p class="orange">{{item.chang}}</p>
				<p class="orange">{{item.num}}<span>{{item.mess}}</span></p>
			</div>
		</div>
		<script src="js/main.js"></script>
		<script src="js/jquery-3.1.1.min.js"></script>
		<script src="js/angular.min.js"></script>
		
		<script>
			var app = angular.module("myApp",[]);
			app.controller("myCtrl",function($scope,$http){
				$http.get("js/use.json").success(function(data){
					$scope.a = data.a;
				});
				$scope.tab = function(){
//					angular.forEach(,function(,element){
//						console.log(element)
//					})
				}
			});
		</script>
	</body>
</html>
